body, html {
    margin: 0px;
    width: 100%;
}

.cookie-wrapper{
    width: 100%;
}

.cookie-wrapper > * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.cookie-amount {
    font-size: 30px;
    user-select: none;
    text-shadow: -2px 0 rgb(91, 0, 0), 0 2px rgb(91, 0, 0), 2px 0 rgb(91, 0, 0), 0 -2px rgb(91, 0, 0);
    color: rgb(200, 100, 100);
}

.cookie {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    cursor: pointer;
    position: relative;
    background-image: url('/images/cookie.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

    .cookie:active {
        transform: scale(0.95);
    }


.popup-show, .popup-hide {
    position: absolute;
    transition: top 2s, left 2s, opacity 2s;
    transition-timing-function: cubic-bezier(0, 0.44, 1, 1);
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    color: rgb(219, 189, 11);
    font-size: 15px;
    text-shadow: -2px 0 rgb(103, 89, 4), 0 2px rgb(103, 89, 4), 2px 0 rgb(103, 89, 4), 0 -2px rgb(103, 89, 4);
    font-weight: 900;
}


.popup-show{
    opacity: 1;
}

.popup-hide {
    opacity: 0;
}
